numpy==2.2.0
tqdm==4.67.1
opencv-python==4.11.0.86
setuptools==78.1.1
typing-extensions==4.15.0

# optimizer-specific deps
sshkeyboard==2.3.1

# gstreamer-python provides PyGObject and GStreamer Python bindings. It is not available on Linux.
PyGObject==3.50.0; sys_platform != "win32"
gstreamer-python==1.28.2; sys_platform == "win32"
